.frames-top {
    background-color: $top-bg-plug;
    background-image: url("https://i.ibb.co/F5p59Mn/bg.jpg") !important;
    background-repeat: no-repeat;
    padding: 0 !important;

    @media only screen and (max-width: #{$global-breakpoint}) {
        background-size: cover;
    }

    .frames-top__title {
        font-size: 25px;
        letter-spacing: 2px;
        color: $black;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 0;
        line-height: 1;

        span {
            padding-left: 20px;
            padding-right: 40px;
            background-color: $white;
        }
    }
}
