.soundbar-top {
    background-color: $top-bg-plug;
    background-image: url("https://i.ibb.co/gvBc802/bg.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 0 !important;
    color: white;

    @media only screen and (max-width: #{$global-breakpoint}) {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    &__logo-img {
        display: inline;
    }
}
