.sunglasses-top {
    background-color: #072b47;
    background-image: url("https://i.ibb.co/3hHYrPx/bg.jpg") !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
