.tvspeaker-top {
    background-color: #986b4b;
    background-image: url("https://i.ibb.co/0tRr09q/Bose-TV-Speaker.jpg") !important;
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
