$bg-color: #8a8a8a;
$black: #181818;
$white: #ffffff;
$light-gray: #676767;
$medium-gray: #888888;
$dark-gray: #464646;
$top-bg-plug: #507589;
$body-background: #434343;
//$body-font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
$body-font-family: Helvetica, Arial, sans-serif;

$button-padding: (
        tiny: 4px 8px 4px 8px,
        small: 10px 15px 10px 15px,
        default: 10px 50px 10px 50px,
        large: 10px 50px 10px 50px,
);

$button-font-size: (
        tiny: 10px,
        small: 12px,
        default: 12px,
        large: 14px,
);

$global-width: 720px;
