.button {
    text-transform: uppercase !important;
    letter-spacing: 3px !important;

    &.small {
        letter-spacing: 1px !important;
    }
}

.btn-black {
    table td {
        background: $black !important;

        &:hover {
            background: lighten($black, 10%) !important;
        }
    }

    &.btn-bordered {
        table td {
            outline: 1px solid black;
            border: 2px solid #ffffff;
        }
    }
}

.btn-white {
    * {
        color: black !important;
    }

    table td {
        background: white !important;

        &:hover {
            background: darken(white, 10%) !important;
        }
    }

    &.btn-bordered {
        table td {
            outline: 1px solid white;
            border: 2px solid black;
        }
    }
}

/*end btn-black*/

/*btn-white*/
//.btn-white {
//    @extend %base-btn;
//
//    tbody tr td {
//        border: 1px solid $white;
//    }
//
//    &:hover {
//        a {
//            border-radius: 0;
//            background-color: $white;
//            color: $primary-color !important;
//        }
//    }
//}
//
//table.btn-white {
//    &:hover {
//        table td {
//            background-color: $light-gray;
//        }
//    }
//}
//
//table.btn-white table td {
//    background-color: $white;
//    border: 1px solid $primary-color;
//
//    a {
//        background-color: $white;
//        color: $primary-color;
//        font-size: 11px;
//        letter-spacing: 1.5px;
//
//        &:hover {
//            border-radius: 0;
//            background-color: $light-gray;
//            color: $primary-color;
//        }
//    }
//}

/*end btn-white*/
