body {
    letter-spacing: 0.03em;

}

h2, .h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 0;
    letter-spacing: 2px;
}

h4, .h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
    letter-spacing: 2px;
}

h5, .h5 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.small {
    font-size: 12px;
}

h1, .h1 {
    font-weight: 700;
}

.text-white {
    color: white !important;
}

.body, table.body, p, td, th {
    line-height: 150%;
}
