.badge {
    padding: 3px 7px;
    text-transform: uppercase;
    font-weight: bold;
    color: $white;
    font-size: 10px;
    letter-spacing: 2px;
    background-color: $light-gray;
}

.badge_large{
    font-size: 18px;
    letter-spacing: 2px;
}
