---
layout: default
subject: Bose
---
<container class="entry">
    <spacer size-sm="30" size-lg="80"></spacer>
    <h4 class="px-sm-3">Email | Frames</h4>
    <p class="text-right small-text-left px-sm-3">
        <a href="#" class="small">View in browser</a>
    </p>
</container>
<container class="frames-top">
    <a href="#">
        <img src="https://i.ibb.co/0cC9PPt/BoseLogo.png"
             alt="BoseLogo"
             class="logo"
        ></a>
    <spacer size-sm="40" size-lg="170"></spacer>
    <h2 class="frames-top__title"><span>Lentes de sol.</span></h2>
    <spacer size="8"></spacer>
    <h2 class="frames-top__title"><span>Con una</span></h2>
    <spacer size="8"></spacer>
    <h2 class="frames-top__title"><span>banda sonora.</span></h2>
    <spacer size="50"></spacer>
</container>
<container>
    <wrapper class="content">
        <h5 class="px-sm-3 px-5">bose frames</h5>
        <spacer size="17"></spacer>
        <p class="px-sm-3 px-5 frames-middle__content">
            Te presentamos los Bose Frames, los primeros lentes de sol
            con audio
            de Bose. Los
            altavoces integrados te brindan una experiencia de audio
            inmersiva como ninguna otra, mientras que los
            cristales de color o polarizados opcionales te permiten
            elegir una apariencia propia. Además, cada par
            de Bose Frames está habilitado para Bose AR* y listo para
            introducirte al mundo de la realidad aumentada
            de audio mediante sencillas actualizaciones de software.
        </p>
        <spacer size="15"></spacer>
        <p class="px-sm-3 px-5 small">* La funcionalidad de Bose AR varía según la región.</p>
        <spacer size="40" size-sm="15"></spacer>
        <center>
            <button href="#" class="btn-black rounded">Comprar</button>
        </center>
    </wrapper>
</container>
<container class="frames-bottom">
    <img src="https://i.ibb.co/Wsc3psC/glasses.jpg" alt=""/>
</container>
