---
layout: default
subject: Bose
---
<spacer size="25"></spacer>
<container class="entry">
    <spacer size-sm="15" size-lg="80"></spacer>
    <p class="text-right small-text-left">
        <a href="#" class="small">View in browser</a>
    </p>
</container>
<container class="soundbar-top">
    <a href="#"><img src="https://i.ibb.co/0cC9PPt/BoseLogo.png" alt="" class="logo"></a>
    <spacer size="170"></spacer>
    <h1 class="text-center text-white">Made for every&nbsp;day —<br/>and&nbsp;everyone.</h1>
    <spacer size="50"></spacer>
</container>
<container>
    <wrapper class="content">
        <p>
            <span class="badge">new</span>
        </p>
        <h5>Bose smart soundbar 300</h5>
        <spacer size="17"></spacer>
        <p>The new Bose Smart Soundbar 300 delivers spacious sound, clear
           dialogue,
           and rich
           bass for your
           movies, music, and games. The acoustic architecture is specially
           designed to keep this new soundbar
           sleek
           and elegant. With built-in voice assistants and exclusive Bose
           Voice4Video™ technology, what typically
           takes
           several steps can now be done with one simple voice command. It’s
           fast,
           simple, and easy enough for
           everyone
           to enjoy.</p>
        <spacer size="40"></spacer>
        <center>
            <button href="#" class="btn-black rounded">Shop now</button>
        </center>
        <spacer size="50"></spacer>
    </wrapper>
</container>

