---
layout: default
subject: Bose
---
<spacer size="50"></spacer>
<container class="entry">
    <row>
        <h4 class="px-sm-3">[Subject line]</h4>
        <p>Bose Frames Tempo | Sport sunglasses with high-quality audio</p>
        <h4 class="px-sm-3">[Browser]</h4>
        <p>Bose Frames Tempo | Sport sunglasses with high-quality audio</p>
        <h4 class="px-sm-3">[Preview pane]</h4>
        <p>The sound you expect from Bose with everything you need from sport
           sunglasses.</p>
        <p class="text-right small-text-left px-sm-3">
            <a href="#" class="small">View in browser</a>
        </p>
    </row>
</container>
<container class="sportglasses-top">
    <a href="#">
        <img src="https://i.ibb.co/0cC9PPt/BoseLogo.png"
             alt="BoseLogo"
             class="logo"
        ></a>
    <spacer size-sm="200" size-lg="300"></spacer>
    <img class="float-right" style="padding-right: 30px" src="https://i.ibb.co/yhxWphH/bose-tempo.png" alt="">
    <spacer size="30"></spacer>
</container>
<container>
    <wrapper class="content">
        <h1>DESIGNED FOR SPORTS<br/>ENGINEERED FOR SOUND</h1>
        <spacer size="17"></spacer>
        <p>Experience high-quality sound—without headphones. That’s the
           magic of Bose Frames Tempo: high-performance sport sunglasses
           with a revolutionary Bose Open Ear Audio™
           design that allows you to hear your music and your surroundings
           at the same time for a workout unlike
           any other. With a sweat and weather resistant design, a durable,
           lightweight nylon frame and soft
           silicone nose pads, Tempo is designed for comfort and
           performance. It’s the sound you expect from Bose,
           with everything you need from sport sunglasses.
        </p>
        <spacer size="25"></spacer>
        <button class="btn-black btn-bordered" href="#">Shop Tempo style</button>
        <spacer size="60"></spacer>
    </wrapper>
</container>
<container class="sportglasses-glasses">
    <center>
        <img src="https://i.ibb.co/cN6Fb4D/glasses.jpg" alt="">
    </center>
</container>
<container>
    <wrapper class="content">
        <spacer size="60"></spacer>
        <p><b>INTERCHANGEABLE LENSES. MULTI-SPORT SUNGLASSES.</b></p>
        <p>
            From mountain biking to road running, interchangeable polarised sport lenses make Tempo
            multisport-ready. Swap lenses in seconds to match your current terrain and lighting conditions.
        </p>
        <spacer size="50"></spacer>
        <row class="collapse">
            <columns small="12" large="6">
                <center>
                    <img class="sportglasses__feature" src="https://i.ibb.co/MckDrd8/1.jpg" alt="">
                </center>
                <spacer size="30"></spacer>
                <center>
                    <button class="btn-black btn-bordered small" href="#">Shop Road Orange</button>
                </center>
            </columns>
            <columns></columns>
            <columns small="12" large="6">
                <center>
                    <img class="sportglasses__feature" src="https://i.ibb.co/pWNff1k/2.jpg" alt="">
                </center>
                <spacer size="30"></spacer>
                <center>
                    <button class="btn-black btn-bordered small" href="#">shop Trail Blue</button>
                </center>
            </columns>
        </row>
    </wrapper>
</container>
