---
layout: default
subject: Bose
---
<spacer size="50"></spacer>
<container class="entry">
    <row>
        <h4 class="px-sm-3">[Subject line]</h4>
        <p>Bose Frames Tempo | Sport sunglasses with high-quality audio</p>
        <h4 class="px-sm-3">[Browser]</h4>
        <p>Bose Frames Tempo | Sport sunglasses with high-quality audio</p>
        <h4 class="px-sm-3">[Preview pane]</h4>
        <p>The sound you expect from Bose with everything you need from sport
           sunglasses.</p>
        <p class="text-right small-text-left px-sm-3">
            <a href="#" class="small">View in browser</a>
        </p>
    </row>
</container>
<container class="sunglasses-top">
    <a href="#">
        <img src="https://i.ibb.co/0cC9PPt/BoseLogo.png"
             alt="BoseLogo"
             class="logo"
        ></a>
    <spacer size-sm="150" size-lg="300"></spacer>
    <img class="float-right" style="padding-right: 30px" src="https://i.ibb.co/kh1FzYV/bose-frames.png" alt="">
    <spacer size="30"></spacer>
</container>
<container class="text-block white">
    <wrapper class="content">
        <spacer size="60"></spacer>
        <h1>WITHOUT SOUND, THEY’RE&nbsp;JUST SUNGLASSES.</h1>
        <spacer size="15"></spacer>
        <p>Thoughtfully refined and strikingly elegant, the latest Bose
           sunglasses are here. Two new luxe silhouettes flaunt polarised
           lenses and premium craftsmanship while
           exclusive Bose Open Ear Audio™ technology produces sound you’d
           never expect from sunglasses. It’s a
           jaw-dropping experience that leaves you free to engage with the
           world around you while discreetly
           listening to music.
        </p>
    </wrapper>
</container>
<container>
    <wrapper class="content content_px-50 content_pt-0">
        <row>
            <columns small="12" large="6" valign="bottom">
                <center>
                    <img src="https://i.ibb.co/7S5n2nr/tenor.jpg" alt="">
                    <spacer size="20"></spacer>
                    <button class="btn-black btn-bordered small" href="#">Shop Tenor style</button>
                </center>
            </columns>
            <columns large="1"></columns>
            <columns small="12" large="6" valign="bottom">
                <center>
                    <img src="https://i.ibb.co/D57kYpb/Soprano.jpg" alt="">
                    <spacer size="20"></spacer>
                    <button class="btn-black btn-bordered small" href="#">Shop Soprano style</button>
                </center>
            </columns>
        </row>
    </wrapper>
</container>


<container>
    <wrapper class="content content_black">
        <p><h5>SWAP LENSES. BUT MAKE IT FASHION.</h5></p>
        <p>
            You have more than one look. So do our lenses. Shop the Bose Frames Lens Collection for interchangeable
            coloured lenses you can easily swap between on the fly to complete your look. Polarised lenses
            available.
        </p>
    </wrapper>
    <wrapper class="content content_black content_px-50 content_pt-0">
        <row class="collapse">
            <columns small="12" large="6" valign="bottom">
                <center>
                    <img src="https://i.ibb.co/mJKHjYv/blue-lenses.png" alt="">
                    <spacer size="20"></spacer>
                    <button class="btn-white btn-bordered small" href="#">shop bose lenses tenor</button>
                </center>
                <spacer size-sm="50"></spacer>
            </columns>
            <columns large="1"></columns>
            <columns small="12" large="6" valign="bottom">
                <center>
                    <img src="https://i.ibb.co/74VBQgv/rose-gold-lenses.png" alt="">
                    <spacer size="20"></spacer>
                    <button class="btn-white btn-bordered small" href="#">shop bose lenses Soprano</button>
                </center>
            </columns>
        </row>
    </wrapper>
</container>
