---
layout: default
subject: Bose
---
<spacer size="50"></spacer>
<container class="entry">
    <row>
        <h4 class="px-sm-3">[Subject line]</h4>
        <p>Bose Frames Tempo | Sport sunglasses with high-quality audio</p>
        <h4 class="px-sm-3">[Browser]</h4>
        <p>Bose Frames Tempo | Sport sunglasses with high-quality audio</p>
        <h4 class="px-sm-3">[Preview pane]</h4>
        <p>The sound you expect from Bose with everything you need from sport
           sunglasses.</p>
        <p class="text-right small-text-left px-sm-3">
            <a href="#" class="small">View in browser</a>
        </p>
    </row>
</container>
<container class="tvspeaker-top">
    <a href="#">
        <img src="https://i.ibb.co/0cC9PPt/BoseLogo.png"
             alt="BoseLogo"
             class="logo"
        ></a>
    <spacer size-sm="200" size-lg="300"></spacer>
    <row>
        <columns class="large-offset-1">
            <h1 class="text-white">HEAR YOUR<br>TV BETTER</h1>
        </columns>
    </row>
    <spacer size="70"></spacer>
</container>
<container>
    <row>
        <columns class="large-offset-1">
            <span class="badge badge_large">new</span>
        </columns>
    </row>
    <img style="width: 100%" src="https://i.ibb.co/P9jw3VB/TVSpeaker.jpg"/>
</container>
<container>
    <wrapper class="content content_pt-0">
        <h4>Bose tv speaker</h4>
        <p>
            For those “What did she just say?” or “I didn’t hear that. Can
            you rewind it?” moments, there’s the new Bose TV Speaker. It
            specifically focuses on enhancing dialogue
            and realism, so you can hear every word more clearly. Plus,
            Bluetooth® compatibility lets you wirelessly
            stream your favorite music or podcasts through the Bose TV
            Speaker. And designed with simplicity in
            mind, a one-connection setup has you watching news programs,
            talk shows, and so much more in no time.
        </p>
        <spacer size="40"></spacer>
        <center>
            <button href="#" class="btn-black rounded">Shop now</button>
        </center>
        <spacer size="50"></spacer>
    </wrapper>
</container>

