.content {
    .wrapper-inner {
        padding-top: 60px;
        padding-right: 100px;
        padding-left: 100px;
        padding-bottom: 60px;
        box-sizing: border-box;

        @media only screen and (max-width: #{$global-breakpoint}) {
            padding-top: 15px !important;
            padding-right: 15px !important;
            padding-left: 15px !important;
            padding-bottom: 15px !important;
        }
    }

    center {
        min-width: auto !important;
    }
}

.content_px-50 {
    .wrapper-inner {
        padding-top: 60px;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 60px;
    }
}

.content_pt-0 {
    .wrapper-inner {
        padding-top: 0;
    }
}

.content_black {
    background: black;
    color: white;

    * {
        color: white;
    }
}
