.entry {
    padding-bottom: 15px;
    background: transparent !important;

    *, a {
        color: $medium-gray;
    }

    a:hover {
        color: $white !important;
    }
}

.entry_white{
    *, a {
        color: white;
    }
}
