.footer {
    background: transparent !important;

    p {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    background: $body-background !important;

    p, a {
        color: $light-gray !important;
        font-size: 14px;
        margin-bottom: 0;
    }

    a:hover {
        color: $white !important;
    }

    .footer__social:hover img {
        filter: brightness(5);
    }

    &__privacy {
        font-size: 9px !important;
    }
}

