{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{subject}}</title>
    <!-- <style> -->
</head>
<body>
<span class="preheader">{{description}}</span>
<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            <center class="overflow">
                {{> body}}
            </center>
        </td>
    </tr>
    <tr>
        <td>
            <container class="footer">
                <spacer size="30"></spacer>
                <p class="text-center">Follow&nbsp;Bose</p>
                <spacer size="15"></spacer>
                <row class="collapse">
                    <columns large="2"></columns>
                    <columns small="3" large="1">
                        <a href="#" class="footer__social">
                            <center><img src="https://i.ibb.co/fkWwbJv/F.png"></center>
                        </a>
                    </columns>
                    <columns small="3" large="1">
                        <a href="#" class="footer__social">
                            <center><img src="https://i.ibb.co/2FV09Dh/T.png"></center>
                        </a>
                    </columns>
                    <columns small="3" large="1">
                        <a href="#" class="footer__social">
                            <center><img src="https://i.ibb.co/64kMK2y/I.png"></center>
                        </a>
                    </columns>
                    <columns small="3" large="1">
                        <a href="#" class="footer__social">
                            <center><img src="https://i.ibb.co/7QtdkhM/Y.png"></center>
                        </a>
                    </columns>
                    <columns large="2"></columns>
                </row>
                <spacer size="20"></spacer>
                <row>
                    <p class="text-center">
                        <a href="#">Update email address</a> •
                        <a href="#">Unsubscribe</a> •
                        <a href="#">Privacy policy</a>
                    </p>
                </row>
                <spacer size="20"></spacer>
                <row>
                    <p class="text-center footer__privacy">
                        Bose, Bose Frames y Bose Lenses son marcas comerciales de Bose Corporation. 832029-0010B, 838211-0010A.
                    </p>
                </row>
            </container>
            <spacer size="30"></spacer>
        </td>
    </tr>
</table>
<!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>
</body>
</html>

